{% extends "base.html" %}

{% block title %}Категории{% endblock %}

{% block header %} <h1>Категории</h1> {% endblock %}

{% block content %}
    <ul style="list-style-type: none; padding: 5px;">
        {% for category in categories %}
            <li style="margin: 10px 0"><a href="{% url 'get_category_tasks' category.id %}" style="text-decoration: none; color: #2c3e50; font-weight: 500; border-bottom: 1px dotted #bdc3c7; display: inline-block; width: 200px;">{{ category.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}