<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
</head>
<body>
    <h1>Список задач!</h1>
    {% if tasks %}
        <p>У вас есть следующие задачи:</p>
        {% for task in tasks %}
            <p>
                {{forloop.counter}}. <a href="/tasks/{{ task.id }}/" style="text-decoration: none; color: black;">{{task.title}}</a>
                {% if task.completed %}
                    ✅
                {% else %}
                    ❌
                {% endif %}
                ({{task.priority}})
            </p>
        {% endfor %}
    {% else %}
        <p>У вас нет задач!</p>
    {% endif %}
    <a href="/tasks/create/">Создать новую задачу</a><br>
    <a href="/tasks/delete-completed/">Удалить все завершенные задачи</a>
    
</body>
</html>