{% extends "base.html" %}

{% block title %}Информация о задаче{% endblock %}

{% block header %}Информация о задаче "{{ task.title }}"{% endblock %}

{% block content %}
    <p>Приоритет: {{ task.priority }}</p>
    <p>Статус: {% if task.completed %}Завершена{% else %}Незавершена{% endif %}</p>
    <a href="{% url 'edit_task' task.id %}" class="btn">Редактировать задачу</a>
    {% if task.completed %}
        <a href="{% url 'switch_status_task' task.id %}" class="btn">Отметить невыполненной</a>
    {% else %}
        <a href="{% url 'switch_status_task' task.id %}" class="btn">Отметить выполненной</a>
    {% endif %}
    <a href="{% url 'delete_task' task.id %}" class="btn">Удалить задачу</a>
{% endblock %}