{% extends "tasks/base.html" %}

{% block title %}Информация о задаче{% endblock %}

{% block header %}Информация о задаче "{{ task.title }}"{% endblock %}

{% block content %}
    <p>Приоритет: {{ task.priority }}</p>
    <p>Статус: {% if task.completed %}Завершена{% else %}Незавершена{% endif %}</p>
    <a href="/tasks/{{ task.id }}/edit/" class="btn">Редактировать задачу</a>
    {% if task.completed %}
        <a href="/tasks/{{ task.id}}/switch-status/" class="btn">Отметить невыполненной</a>
    {% else %}
        <a href="/tasks/{{ task.id}}/switch-status/" class="btn">Отметить выполненной</a>
    {% endif %}
    <a href="/tasks/{{ task.id }}/delete/" class="btn">Удалить задачу</a>
{% endblock %}