{% extends "base.html" %}

{% block title %}Список задач{% endblock %}

{% block header %}Список задач{% endblock %}

{% block content %}
    <h3>Привет, {{ user.username }}!</h3>
    {% if tasks %}
        <a href="{% url 'search_tasks' %}" class="btn">Поиск задач</a>
        <a href="{% url 'completed_tasks' %}" class="btn">Завершенные задачи</a>
        <a href="{% url 'not_completed_tasks' %}" class="btn">Незавершенные задачи</a>
        <br>
        <p>У вас есть следующие задачи:</p>
        {% for task in tasks %}
            <p>
                {{forloop.counter}}. <a href="{% url 'get_task' task.id %}" style="text-decoration: none; color: #2c3e50; font-weight: 500; border-bottom: 1px dotted #bdc3c7; display: inline-block; width: 200px;">{{task.title}}</a>
                {% if task.completed %}
                    ✅
                {% else %}
                    ❌
                {% endif %}
                ({{task.priority}})
            </p>
        {% endfor %}
        <a href="{% url 'create_task' %}" class="btn">Создать новую задачу</a>
        <a href="{% url 'delete_completed_tasks' %}" class="btn">Удалить все завершенные задачи</a><br><br>
        <a href="{% url 'statistics' %}" class="btn">Статистика задач</a>
    {% else %}
        <p>У вас нет задач!</p>
        <a href="{% url 'create_task' %}" class="btn">Создать первую задачу</a>
    {% endif %}
{% endblock %}