<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Info</title>
</head>
<body>
    <h1>Информация о задаче "{{ task.title }}"</h1>
    <p>Приоритет: {{ task.priority }}</p>
    <p>Статус: {% if task.completed %}Завершена{% else %}Незавершена{% endif %}</p>
    {% if task.completed %}
        <a href="/tasks/{{ task.id}}/switch-status/">Отметить невыполненной</a>
    {% else %}
        <a href="/tasks/{{ task.id}}/switch-status/">Отметить выполненной</a>
    {% endif %}
    <br>
    <a href="/tasks/{{ task.id }}/edit/">Редактировать задачу</a><br>
    <a href="/tasks/{{ task.id }}/delete/">Удалить задачу</a><br>
    <a href="/tasks/">Назад к списку задач</a>
</body>
</html>