{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'tasks/css/style.css' %}">
    <title>{% block title %}Default Title{% endblock title %}</title>
</head>
<body>
    <header>
        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'task_list' %}">Задачи</a></li>
            <li><a href="{% url 'about' %}">О нас</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Выйти</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Войти</a></li>
                <li><a href="{% url 'register' %}">Регистрация</a></li>
            {% endif %}
        </ul>
    </header>
    <h1>{% block header %}{% endblock header %}</h1>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
        <p>&copy; 2026 Task Manager. Все права защищены.</p>
    </footer>
</body>
</html>